body{
    background-color: #008148;
}

header{
    background-color: #008148;
    text-align: left;
}

.logo{
    width: 10%;;
    height:20%;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    text-align:center;
    padding: 10px;
  }

nav{
    background-color: #ffa552;
    height:70px;
    border-radius: 3px;
}

/* Customizes nav*/
nav a{
    margin: 50px;
    color: white;
    font-family: "alexandria";
    font-size: 30pt;
    transition: 0.3s;
    padding: 5px;
    border-radius: 3px;
    
}

nav a:hover{
    color:#ffa552;
    background-color: white;
}

/* Customizes nav*/
nav ul li a{
    display: inline;
}

/* Customizes nav*/
nav ul li{
   display: inline;
    list-style-type: none;
}

.home_image{
    margin-top: 10px;
    width:100%;
    height:50%;
    object-fit: cover;
    border-radius: 3px;
}

.content_image{
  margin: 10px;
  align-self: center;
    width:80%;
    height:70%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 5px;
  }

  mark {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 3px;
    padding: 10px;
  }
  
  .centered {
    font-family: "alexandria";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
    color: white;
  }

.column {
    float: left;
    width: 32.58%;
    padding: 7px;
  }
  
  .row {margin: -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 0px;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    background-color: #FCDE9C;
  }
  
  @media screen and (max-width: 450px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .container2 {
    padding: 10px;
  }

.button {
    background-color: transparent;
    color: black;
    padding: 15px 32px;
    align-self: center;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "alexandria";
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    border-color: transparent;
  }
  
  .button:hover {
    background-color: black;
    color: #FCDE9C;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .button:active {
    transform: translateY(4px);
    transition-duration: 0.1s;
  }

  @font-face {
    font-family: alexandria;
    src: url(Alexandria.ttf)
  }

.column2 {
    height: 500px;
    width: 600px;
    border-radius: 3px;
    object-fit: cover;
}

h1{
  text-align: center;
  font-family: "alexandria";
}

h2{
  font-family: "alexandria";
  text-align: center;
  font-size: 50px;
}

h4{
  font-family: "alexandria";
  text-align: center;
}

p{
  font-family: "alexandria";
}

.other_column {
  float: left;
  padding: 3px;
  width: 33%;
}

footer {
  padding: 10px;
  background-color: #ffa552;
  font-family: "alexandria";
  border-radius: 3px;
  color: white;
} 


.link {
  text-align: center;
  font-size: 100px;
  color: white;
  font-family: "alexandria";
  font-size: 12pt;
  text-decoration:none;
}



 .container_4 {
  background-color: #FCDE9C;
  border-radius: 3px;
 }

 .p_text {
  margin: 40px;
  font-size: 25px;
 }

 .img{
  margin: 10px;
  border-radius: 3px;
 }

 .text{
  margin: 50px;
  font-size: 30px;
  font-family: "alexandria";
  color: black;
 }

 footer a{
  margin: 100px;
  font-family: "alexandria";
  padding: 10px;
  border-radius: 3px;
  text-align: right;
  color: white;
  font-size: 20pt;
  text-decoration:none;
  
}

a{
  text-align: center;
  font-family: "alexandria";
  color: black;
  font-size: 25px;
}

/*
  Code i made last year for a different website referenced here 
  body{
    background-color: #331E6D ;
}
header{
    background-color: #331E6D ;
    width:100%;
    height:128px;
    text-align: center;
    color: #F1A10E;
}

nav{
    background-color: #331E6D;
    width:100%;
    height:30px;
}

nav a{
    width:100px;
    height:100px;
    color: white;
    font-family: "Cardo";
    font-size: 18pt;
}

nav ul li a{
    display: inline;
    margin-right: 10px;
}

nav ul li{
   display: inline;
    list-style-type: none;
}

.logo {

  width: 1038.66666667px;
  height 124.666666667px;
}

.shoehorn_man {
    width: 912px;
    height: 550px;
}

.mr_beast {
    width 900px;
    height: 550px;
}
{
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    }

.card_column {
    float: left;
    width: 20%;
    }
.gap_column {
    float: left;
    width: 4%
}

.abt_column {
    float: left;
    width: 60%
}

.abt_b_column {
    float: left;
    width: 40%
}

    .row:after {
    content: "";
    display: table;
    clear: both;
    }

.roboto {
    font-family: "roboto"
}

.cardo {
    font-family: "cardo"
}

.button {
  background-color: #F1A10E;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  align-self: center;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}

.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: #F1A10E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.eagle {
    font-size: 25pt;
    color: white;
}

.paragraph_4 {
    font-size: 15pt;
    color: white;
    text-align: left;
    margin: auto;
    width: 800px; 
}

footer {
  padding: 3px;
  background-color: 383838;
  color: white;
}

.other_column {
    float: left;
    width: 33%;
}

.product_column {
    float: left;
    width: 50%;
}

.description_column {
    float: left;
    width: 35%
    
}
.link {
    width:100px;
    height:100px;
    color: white;
    font-family: "merriweather";
    font-size: 12pt;
}

h1 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.container_b {
  background-color: #7A542E;
  position: relative;
  text-align: center;
  color: black;
  border: 1px solid black;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 24px 50px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
  color: white;
}

mark {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.paragraph {
  text-align: left;
  margin: auto;
  width: 840px; 
  font-size: 15pt;
  color: white;

}

.paragraph_2 {
  text-align: left;
  margin: auto;
  width: 1200px; 
  font-size: 12pt;
  color: white;
}

.eagle_b {
    font-size: 25pt;
    color: white;
}

.eagle_c {
    text-align:center;
    font-size: 10pt;
    color:white;
}

.width {
    width: 100%;
}

.paragraph_3 {
  text-align: left;
  margin: auto;
  width: 1000px; 
  font-size: 15pt;
  color: white;
}

.paragraph_5 {
    
  text-align: left;
  margin: auto;
  width: 200px; 
  font-size: 10pt;
  color: white;

}

.paragraph_6 {
    text-align: left;
    margin: auto;
    width: 250px;
    font-size: 15pt;
    color:white;
}

.paragraph_7 {
  text-align: left;
  margin: auto;
  width: 840px; 
  font-size: 12pt;
  text-decoration: underline;
  color: white;
  text-align: left;

}
.border {
    border: 1px solid black;
    border-radius: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.rounded_corner {
    border-radius: 5px 5px 0 0;   
}

.card:hover {
    box-shadow: 0 20px 46px 0 rgba(0,0,0,0.2);
    transform: translateY(-30px) scale(1.1);
    background-color:#F1A10E;
    font-style: black;
}

.card_container {
  padding: 2px 16px;
}

.page {
    color: white;
    font-size: 15pt;
    text-align: center;
}

.dropbtn {
  background-color: #331E6d;
  color: white;
  font-family: 'merriweather';
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-self: left;
  border: 1px solid black;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 24px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}

.dropbtn:hover {
  background-color: #F1A10E;
  align-self: left;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 26px 28px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.2);
  
  
}

.dropdown {
  position: relative;
  display: inline-block;
    align-self: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #331E6D;
  color: white;
  font-family: 'merriweather';
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid black;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 24px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #F1A10E;
    border: 1px solid black;
    border-radius: 8px;
    transform: scale(1.05);
    transition-duration: 0.4s;
  
}

.warning {
    font-family: 'merriweather';
    font-size: 10pt;
    text-align: center;
    color: white;
}

.show {display:block;}

<link rel="stylesheet" href="shoehorn-smith-cardo-regular.ttf">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

  */